{% extends "inventario/base.html" %}

{% block title %}Inicio - KilOS POS{% endblock %}

{% block content %}
<div class="text-center p-5 mb-4 bg-white rounded-3 shadow-sm">
    <h1 class="display-4 fw-bold mb-3">⚖️ KilOS - Punto De Venta</h1>
    
    <div class="reloj-digital display-1 fw-bold mb-4">
        <span id="hora"></span>:<span id="minutos"></span>:<span id="segundos"></span>
    </div>

    <p class="lead mb-5">Selecciona el tipo de venta para comenzar</p>

    <div class="d-grid gap-4 d-md-flex justify-content-md-center">
        <a href="{% url 'lista-productos' tipo_venta='mostrador' %}" class="btn btn-primary btn-lg p-4 shadow" style="font-size: 1.5rem;">
            🏢 Venta en Mostrador
        </a>
        <a href="{% url 'lista-productos' tipo_venta='domicilio' %}" class="btn btn-success btn-lg p-4 shadow" style="font-size: 1.5rem;">
            🛵 Venta a Domicilio
        </a>
    </div>

    <div class="mt-5 p-3 rounded-3 shadow-sm" id="printer-status-container">
        <span class="fs-5 me-2">Complemento de la Impresora:</span>
        <span class="fw-bold" id="printer-status">Verificando...</span>
    </div>

</div>

<script>
    function actualizarReloj() {
        const ahora = new Date();
        let horas = ahora.getHours().toString().padStart(2, '0');
        let minutos = ahora.getMinutes().toString().padStart(2, '0');
        let segundos = ahora.getSeconds().toString().padStart(2, '0');
        
        document.getElementById('hora').textContent = horas;
        document.getElementById('minutos').textContent = minutos;
        document.getElementById('segundos').textContent = segundos;
    }
    setInterval(actualizarReloj, 1000);
    actualizarReloj();

    // Nuevo script para verificar la impresora
    document.addEventListener('DOMContentLoaded', function() {
        const statusElement = document.getElementById('printer-status');
        const containerElement = document.getElementById('printer-status-container');
        const urlPuente = "http://127.0.0.1:5000/print";
        
        fetch(urlPuente, {
            method: 'OPTIONS' // Usamos OPTIONS para una verificación rápida sin enviar datos
        })
       .then(response => {
           if (response.ok) {
               statusElement.textContent = 'Activo ✅';
               containerElement.classList.remove('bg-danger'); // Removemos la clase de peligro por si acaso
           } else {
               throw new Error('No se pudo conectar');
           }
       })
       .catch(error => {
           statusElement.textContent = 'No instalado ❌';
           containerElement.classList.remove('bg-success'); // Removemos la clase de éxito por si acaso
       });
    });
</script>
{% endblock %}